NODE_ENV=development
API_PORT=3000
WEB_URL=http://localhost:5173
VITE_API_URL=http://localhost:3000/api
# À remplacer lors de l'ajout de PostgreSQL :
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/compta_paramedicale
